* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'roboto';
    src: url(./fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'roboto';
    font-weight: bold;
    src: url(./fonts/Roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family: 'roboto';
    font-style: italic;
    src: url(./fonts/Roboto/Roboto-Italic.ttf);
}

@font-face {
    font-family: 'roboto';
    font-weight: bold;
    font-style: italic;
    src: url(./fonts/Roboto/Roboto-BoldItalic.ttf);
}

body {
    font-family: 'roboto';
}

:root {
    --primary-color: #109DEA;
    --secondary-color: #04234E;
    --tertiary-color: #EE88E4;
    --text-color: #FFFFFF;
}

/* ----------- CODE BELOW -----------  */

.flex{
    display: flex;
}

.al-ctr{
    align-items: center;
}

.jtf-ctr{
    justify-content: center;
}

.jtf-rgt{
    justify-content: flex-end;
}

.sp-btw{
    justify-content: space-between;
}

header{
    padding: 0 1%;
    height: 100px;
    background-color: #109DEA;
    color: #FFFFFF;
}

a{
    color: #FFFFFF;
    text-decoration: none;
    padding: 0 30px;
    font-size: 32px;
}

a:hover{
    background-color: #EE88E4;
}