* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'roboto';
    src: url(./fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'roboto';
    font-weight: bold;
    src: url(./fonts/Roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family: 'roboto';
    font-style: italic;
    src: url(./fonts/Roboto/Roboto-Italic.ttf);
}

@font-face {
    font-family: 'roboto';
    font-weight: bold;
    font-style: italic;
    src: url(./fonts/Roboto/Roboto-BoldItalic.ttf);
}

body {
    font-family: 'roboto';
}

:root {
    --primary-color: #109DEA;
    --secondary-color: #04234E;
    --tertiary-color: #EE88E4;
    --text-color: #FFFFFF;
}

/* ----------- CODE BELOW -----------  */
/* flex property */

.flex{
    display: flex;
}

.al-ctr{
    align-items: center;
}

.al-end{
    align-items: flex-end;
}

.jtf-ctr{
    justify-content: center;
}

.jtf-rgt{
    justify-content: flex-end;
}

.sp-btw{
    justify-content: space-between;
}

.sp-arr{
    justify-content: space-around;
}

.col{
    flex-direction: column;
}

/* header */

header{
    padding: 0 1%;
    height: 100px;
    background-color: #109DEA;
    color: #FFFFFF;
}

header nav > a{
    color: #FFFFFF;
    text-decoration: none;
    padding: 0 30px;
    font-size: 32px;
}

header nav > a:hover{
    background-color: #EE88E4;
}

/* image cover */

.cover-img{
    max-width: 100%;
    display: block;
}

/* titre sections */

h2{
    padding: 1rem;
    font-size: 48px;
    text-decoration: underline 1px #EE88E4;
    text-underline-offset: 1rem;
}

/* sect-presentation */

.sect-presentation{
    padding: 0 1%;
    background-color: #04234E;
    color: #FFFFFF;
    height: 600px;
    gap: 1rem;
}

.sect-presentation .left-side{
    width: 50%;
}

.sect-presentation .right-side{
    height: 100%;
    width: 50%;
    padding: 1rem;
}

.left-side p{
    margin-top: 2em;
}


.right-side img{
    object-fit: cover;
    max-width: 100%;
}

/* section lieux */

.sect-lieux{
    background-color: #109DEA;
    padding: 0 1%;
    height: 550px;
    color: #FFFFFF;
}

.sect-lieux .cards{
    margin-top: 2rem;

}

.cards .card {
    width: 45%;
    height: 400px;
    border: 1px solid #04234E;
}

.cards .card-img{
    width: 50%;
    height: 100%;
    background-image: url("img/lieux-img.jpg");
    background-size: cover;
    
}

.cards .card-desc{
    width: 50%;
    padding: 1.5rem;
}

.card h3{
    font-size: 48px;
}

.card button{
    color: #FFFFFF;
    font-size: 32px;
    padding: 1rem;
    background-color: #04234E;
    border: #04234E;
    align-self: flex-end;
    cursor: pointer;
}

/* section contact */

.sect-contact{
    height: 650px;
    background-color: #04234E;
    color: #FFFFFF;
    padding: 0 1%;
}

.sect-contact .form-contact{
    height: 423px;
    width: 40%;
    gap: 2rem;
}

.form-contact label{
    margin-bottom: 0.5rem;
}

.form-contact .input-byside{
    width: 48%;
}

.form-contact .inputstyle{
    height: 50px;
    width: 100%;
    background-color: #109DEA;
}

.form-contact .inputstyle::placeholder,
.form-contact textarea::placeholder{
    color: #FFFFFF;
    font-style: italic;
    padding: 1rem;
    font-family: 'roboto';
}

.form-contact textarea{
    height: 200px;
    resize: none;
    background-color: #109DEA;
}

.form-contact input[type="submit"]{
    align-self: center;
    color: #FFFFFF;
    font-size: 32px;
    padding: 1rem;
    background-color: #EE88E4;
    border: #04234E;
    cursor: pointer;
}

/* footer */

footer{
    background-color: #EE88E4;
    height: 70px;
}

footer span{
    color: #FFFFFF;
    font-size: 32px;
}